.audio-player {
    margin: 10px 0;
}

.controls {
    @include flex-2-columns(flex-start);
}

.playback-button {
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 8px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/icons/play.svg');
    cursor: pointer;
}

.pause {
    background-image: url('../assets/icons/pause.svg');
}

.timebar {
    position: relative;
    flex-grow: 1;
}

.timebar__bar {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 18px;
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
    height: 4px;
    border-radius: 2px;
}

.timebar__time-info {
    font-size: 0.7em;
}

.timebar__current-time {
    margin-left: 8px;
}

.timebar__total-time {
    margin-right: 4px;
}

.timebar input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
}

.timebar input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: $topicBgActive;
    width: 16px;
    height: 16px;
    transform: translateY(-6px);

    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s;
    &:hover {
        background: $topicBorder;
    }
}

.timebar input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 4px;
    border-radius: 2px;
}

.timebar input[type=range].timebar__volume {
    position: relative;
    float: right;
    margin-right: 0;
    width: 90px;
    &::before {
        content: '';

        position: absolute;
        top: -8px;
        left: -30px;

        width: 20px;
        height: 20px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../assets/icons/volume.svg');
    }
}

.timebar input[type=range].timebar__volume::-webkit-slider-thumb {

    width: 12px;
    height: 12px;

    transform: translateY(-4px);
}

.timerbar-current input[type=range].timebar__volume {
    width: 60px;
    transform: translateY(4px);
}