$bodyBg: #222;
$blockBg: #303030;
$blockBgHover: #444;
$topicBgDefault: #008966;
$topicBorder: #007c5d;
$answerBorder: #555;
$topicBgActive: #00bc8c;
$mainFont: 'Montserrat', 'Arial', sans-serif;
$mainFontColor: white;
$mainFontSize: 16px;
$normalFontWeight: 400;
$boldFontWeight: 700;
$borderRadius: 6px;
$blockItemPadding: 20px;

@mixin flex-2-columns($jystifyContent: space-between) {
    display: flex;
    justify-content: $jystifyContent;
    align-items: center;
}