.header {
    flex: 0 0 auto;
}

.logo {
    max-width: 200px;
}

.navigation {
    font-size: 1.2em;
}

.navigation, .navigation__list {
    @include flex-2-columns();
}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__item {
    margin-right: 30px;
}

.navigation__link {
    color: $mainFontColor;
    text-decoration: none;
    transition: .2s;
    &:hover {
        color: $topicBgActive;
    }
    .navigation__item_active & {
        color: $topicBgDefault;
        cursor: default;
        pointer-events: none;
    }
}

.score {
    margin-left: 40px;
    min-width: 100px;
}

.topic__list {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    @include flex-2-columns(stretch);
    flex-wrap: wrap;
    list-style: none;
    border-radius: $borderRadius;
    overflow: hidden;
}

.topic__item {
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    background-color: $topicBgDefault;
    border: $topicBorder 1px solid;
    transition: .2s;
}

.topic__item_active {
    background-color: $topicBgActive;
}

.topic__link {
    color: $mainFontColor;
    pointer-events: none;
    text-decoration: none;
}