html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;
    margin: 0;

    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: 1.5;
    font-weight: $normalFontWeight;
    color: $mainFontColor;

    background-color: $bodyBg;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.button {
    width: 100%;
    padding: 9px;
    color: $mainFontColor;
    background-color: $blockBg;
    border: $blockBgHover 1px solid;
    border-radius: $borderRadius;
    transition: .2s;
    &:hover {
        cursor: pointer;
        background-color: $blockBgHover;
    }
    &:active {
        background-color: $blockBg;
    }
}

.layout-2-columns {
    @include flex-2-columns();
    padding-top: 15px;
    padding-bottom: 5px;
}

.main {
    flex: 1 0 auto;
}

.title {
    margin-top: 0;
    font-size: 2.5em;
    text-align: center;
}

.block-item {
    padding: $blockItemPadding;
    margin-bottom: $blockItemPadding;
    background-color: $blockBg;
    border: $blockBgHover 1px solid;
    border-radius: $borderRadius;
}

.start-page__button, .end-page__button, .game-page__button_next {
    background-color: $topicBgDefault;
    &:hover {
        background-color: $topicBgActive;
    }
    &:active {
        background-color: $topicBgDefault;
    }
}