@media screen and (max-width: 999px) {
    .game-page__answer {
        flex-direction: column;
    }
    .answers-options, .answer-current {
        align-self: stretch;
        max-width: 100%;
    }
    .answer-current {
        min-height: 293px;
        max-height: initial;
    }
}

@media screen and (max-width: 780px) {
    .game-page__button {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        .layout-2-columns {
            flex-direction: column;
        }
    }
    .title {
        font-size: 1.8em;
    }
    .greeting__rules-list {
        padding-left: 20px;
    }
    .unknown-bird {
        flex-direction: column;
    }
    .unknown-bird__image {
        margin-bottom: 30px;
    }
    .unknown-bird__parametrs {
        align-self: stretch;
        padding: 0;
    }
    .current-bird__wrapper {
        flex-direction: column;
    }
    .current-bird__list {
        margin-top: 30px;
        padding: 0;
        align-self: stretch;
    }
}