.game-page {
    margin-bottom: 50px;

    .layout-2-columns {
        padding: 0;
    }
}

.answers-options, .answer-current {
    max-width: calc(50% - 10px);
    flex-grow: 1;
}

.answers-options {
    padding: 0;
}

.answer-current {
    align-self: stretch;
}

.unknown-bird {
    @include flex-2-columns(flex-start);
}

.unknown-bird__image {
    display: inline-block;
    width: 200px;
    height: 155px;
    object-fit: cover;
    border-radius: $borderRadius;
}

.unknown-bird__parametrs {
    align-self: flex-start;
    flex-grow: 1;
    padding-left: 50px;
    padding-right: 40px;
}

.unknown-bird__name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
    border-bottom: $topicBorder 1px solid;
}

.answer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.answer-item {
    padding: 13px 20px;
    border-bottom: $answerBorder 1px solid;
    transition: .2s;
    &:hover {
        cursor: pointer;
        background-color: $blockBgHover;
    }
    &:active {
        background-color: $blockBg;
    }
    &:last-child {
        border-bottom: none;
    }
}

.current-bird .layout-2-columns .timebar__time-info {
    margin-bottom: 0;
}

.indicator {
    display: inline-block;

    width: 9px;
    height: 9px; 

    margin-right: 20px;

    border-radius: 50%;
    background-color: $blockBgHover;
    transition: .2s;
}

.indicator-wrong {
    background-color: rgb(211, 0, 0);
}

.indicator-right {
    background-color: $topicBgDefault;
}

.game-page__button {
    pointer-events: none;
}

.game-page__button_next {
    pointer-events: all;
}

.instruction {
    margin: 0;
}

.current-bird__image {
    width: 200px;
    height: 155px;
    object-fit: cover;
    border-radius: $borderRadius;
}

.current-bird .layout-2-columns {
    margin-bottom: 18px;
}

.current-bird__list {
    flex-grow: 1;
    align-self: flex-start;
    margin: 0;
    list-style: none;
}

.current-bird__name {
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 1.5em;
    border-bottom: $answerBorder 1px solid;
}

.current-bird__name-latin {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: $answerBorder 1px solid;
}

.current-bird__description {
    margin: 0;
    font-size: 0.8em;
    overflow: hidden;
}